<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>DAMIBOOK</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="bg-love">
    <div class="watermark">lomon &amp; joyce</div>
    <div class="watermark watermark2">lomon &amp; joyce</div>
    <div class="watermark watermark3">lomon &amp; joyce</div>
  </div>
  <div class="app-container">
    <header>
      <h1>DAMIBOOK 💕</h1>
    </header>
    <main>
      <%- body %>
    </main>
  </div>
</body>
</html>
